<html>
    <body>
        <div class="header-container">
            <h1>nathan's archivinator</h1>
            <p>modular archival thing</p>
            <div class="links-horizontal">
                <a href="/"><b>fetcher</b></a>
                <a href="/jobs">jobs</a>
                <a href="/config">config</a>
            </div>
        </div>
    </body>
</html>

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    .header-container {
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 100%;
    }
    .links-horizontal {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
</style>